
.stationName {
  margin: 10px 0px 10px 2.5%;
  font-size: 30px;
  font-weight: 200;
}

.availableLineContainer{
  text-align: center;
  display: flex;
  justify-content:space-between;
  width: 90%;
  margin-left: 5%;
}
.availableLine {
  display: flex;
  border-radius: 10px;
  border: 1px black solid;
  cursor: pointer;
  margin: 5px;
  padding: 5px;
}

.lineButton {
  text-decoration: none;
  border: solid 1px grey;
  padding: 5px;
  margin: 5px;
  background: none;
  font-size: 15px;
}
.departureContainer {
  background-color: aqua;
  height: 100px;
}
.mapContainer {
  height: 20vh;
  /* border: 1px black solid; */
  width: 95vw;
  margin-left: 2.5vw;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

/* F A C I L I T Y    S E C T I O N */
.facilityContainer {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  border-radius: 15px;
  width: 90%;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  height: 20%;
  flex-wrap: wrap;
}

.facilityItem {
  display: flex;
  flex-basis: 100%;
  margin: 5px 50vw;
  text-align: center;
}

.key {
  margin: 5px;
  text-align: center;
}
.value {
  margin: 5px;
  text-align: center;
}