* {
  text-align: center;
}
.navigation_div {
  margin: 20px 5vw;
  height: 25vh;
  width: 90vw;
  background-color: #84B817;
  border-radius: 20px;
  
}
.navigationDivJourney {
  margin: 20px 5vw;
  height: 25vh;
  width: 90vw;
  background-color: #df64b0;
  border-radius: 20px;

}
.navigation_title {
  padding-top: 80px;
  text-decoration: none;
  color: white
  

  
}
.navigationDivService {
  margin: 20px 5vw;
  height: 25vh;
  width: 90vw;
  background-color: #EE7C0E;
  border-radius: 20px;
}

Link {
  text-decoration: none;
}