* {
  text-align: center;
}

.mainTtle {
  margin: 10px 0px 0px 2.5%;
  font-size: 35px;
  font-weight: 200;
}
.navigation_div {
  margin: 20px 5vw;
  height: 10vh;
  width: 90vw;
  /* background-color: #84B817; */
  background-color: rgb(0, 130, 28);
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.navigationDivJourney {
  margin: 20px 5vw;
  height: 10vh;
  width: 90vw;
  /* background-color: #df64b0; */
  background-color: rgb(0, 130, 28);;
  display: flex;
  justify-content: center;
  align-items: center;

}
.navigation_title {
  text-decoration: none;
  color: white;
  font-weight: 300;
  

  
}
.navigationDivService {
  margin: 20px 5vw;
  height: 10vh;
  width: 90vw;
  /* background-color: #EE7C0E; */
  background-color: rgb(0, 130, 28);

  display: flex;
  justify-content: center;
  align-items: center;
}

Link {
  text-decoration: none;
}