.SUtitle {
  text-align: left;
  margin: 10px 0px 0px 2.5%;
  font-size: 30px;
  font-weight: 200;
}

.buttonContainer {
  width: 96%;
  margin-left: 2%;
}
.menuListItem {
  text-decoration: none;
  border: solid 1px grey;
  padding: 10px;
  display: inline;
  font-size: 15px;
  font-weight: 300;
  width: 30%;
  margin: 0px 1%;
}

.menuList {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  width: 95%;
  margin: 10px 0px 20px 2.5% ;
}

