.serviceDiv {
  background-color: transparent;
  border-bottom: 0.5px rgb(217, 217, 217) solid;
  width: 95%;
  margin-left: 2.5%;
  padding:15px 0px;
  display: flex;
  justify-content: space-between;
  
}

.lineTitle {
  font-size: 30px;
  border-bottom: 1.5px rgb( 217, 217, 217) solid;
  width: 95%;
  margin-left: 2.5%;
  padding: 10px 0px;
}
.bakerloo {
  border-top: 25px solid #B36305;
  width: 90vw;
  margin: 20px 5vw;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.central {
  border-top: solid 25px #E32017;
  width: 90vw;
  margin: 20px 5vw;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.circle {
  border-top: solid 25px #FFD300;;
  width: 90vw;
  margin: 20px 5vw;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}
.district {
  border-top: solid 25px #00782A;;
  width: 90vw;
  margin: 20px 5vw;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.hammersmith-city {
  border-top: solid 25px #F3A9BB;;
  width: 90vw;
  margin: 20px 5vw;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.jubilee {
  border-top: solid 25px #A0A5A9;;
  width: 90vw;
  margin: 20px 5vw;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.metropolitan {
  border-top: solid 25px #9B0056;;
  width: 90vw;
  margin: 20px 5vw;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.northern {
  border-top: solid 25px #000000;
  width: 90vw;
  margin: 20px 5vw;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.piccadilly {
  border-top: solid 25px #003688;
  width: 90vw;
  margin: 20px 5vw;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.waterloo-city{
  border-top: solid 25px #95CDBA;;
  width: 90vw;
  margin: 20px 5vw;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.victoria {
  border-top: solid 25px #0098D4;
  width: 90vw;
  margin: 20px 5vw;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.dlr {
  border-top: solid 25px #00A4A7;;
  width: 90vw;
  margin: 20px 5vw;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}