
.header {
  width: 100%;
  text-align: center;
}

.navbar {
  padding: 10px 0px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}
.navbar_item {
  color: black;
  text-decoration: none;
  padding: 0px 10px;
  font-size: 10px;
}