.name_container{
  padding: 5px 0px;
  text-align: right;
  width: 90%;
  margin: 5px 5%;
  padding-top: 15px;
  border-bottom: rgb(203, 203, 203) 1px solid;
}
.name {
  font-weight: 100;
  font-size: 20px;
  color: black;
  text-decoration: none;
  text-align: left;
}
.resultsContainer {
  width: 95%;
  margin-left: 2.5%;
}

.startTyping {
  text-align: left;
  font-size: 40px;
  font-weight: 100;
  margin-top: 10%;
}

.inputField {
  width: 95%;
  border: #2B2B2C 1px solid;
  height: 50px;
  margin: 2px 0px;
  padding-left: 5px;
  text-align: left;
  font-size: 20px;
  font-weight: 200;
}

.inputField::placeholder {
  text-align: left;
  color: #2B2B2C;
  font-size: 20px;
  font-weight: 100;
}